body
{
    background-color: #4349
}

#h2
{
margin-left: 100px;
text-align: center;
}

p
{
 font-size: 20px;
    color: #e9f7d3;
}

article h2
{
	font-size: 48px;
	padding-bottom: 12px;
}

div 
	{
		background-color: cfc;
		padding: 10px;
		border: 5px double #b7b70a;
	}
	
	a{
		text-decoration: none;
	}


#logo
{
 width: 64px;   
}

