body
{
    background-color: #4349
}


h1
{
margin-left: 100px;
text-align: center;
}

p
{
 font-size: 20px;
    color: #e9f7d3;
}

article
{
	
}

div 
	{
		background-color: cfc;
		padding: 10px;
		border: 5px double #b7b70a;
	}